@model InstaApplication.Models.Produits

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] = "Details"</title>
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
</head>
<body>

    <div class="container2">
        <h2>Detail du client</h2>

        <div class="details-box">
            <h3>Client Information</h3>
            <hr />

            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>

                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Price)
                </dd>

                
            </dl>
        </div>

        <div class="action-links">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
            <a asp-action="Index" class="btn btn-secondary">Back to List</a>
        </div>
    </div>

</body>
</html>

